.calendar {
	position: fixed;
	left: 0;
	top:0;
	width: 100%;
	height:100%;
	display: none;
	padding-top: 4.266667rem;
	z-index: 999;
}
.calendar-opa {
	width: 100%;
	height: 100%;
	position: absolute;
	left:0;
	top:0;
	background-color: rgba(0,0,0,0);
	transform: background-color 0.3s ease;
}
.calendar-content {
	background-color: #fff;
	height: 100%;
	position: relative;
	transform: translateY(100%);
	transition: transform 0.3s ease;
	z-index: 10;
}
.calendar-content.active{
	transform: translateY(0);
	transition: transform 0.3s ease;
}
.calendar-top {
	width: 100%;
	background: #F3F4F8;
	border-bottom: none;
	/*position: fixed;
	top: 0;
	left:0;
	height:3.04rem;*/
	padding-bottom: 0;
	padding-top: 0;
	z-index: 99;
}
.week-bar ul{
	border-top: 0.013333rem solid #D5DAE1;
	display: flex;
}
.week-bar ul li {
	display: inline-block;
	vertical-align: middle;
	padding: 0.32rem 0;
	width: 14.28%;
	text-align: center;
	font-size: 0.373333rem;
	color: #7E808A;
	line-height: 1;
	-webkit-box-flex: 1;
}
.calendar-scroll {
	width: 100%;
	/*padding-top:3.04rem;*/
	padding-bottom: 1.333333rem;
	overflow-y:auto;
	height: 100%;
	-webkit-overflow-scrolling : touch;
}
.calendar-day {

}
.calendar-day table {
	width: 100%;

}
.calendar-day table thead tr th{
	text-align: center;
	font-size: 0.56rem;
	color: #2A2A2F;
	padding: 0.64rem 0 0.213333rem 0;
}
.calendar-day table tbody tr {

}
.calendar-day table tbody tr td{
	padding-bottom: 0.266667rem;
	text-align: center;
	color: #2A2A2F;
	height: 0.986667rem;
}
.calendar-day table tbody tr td span{
	display: inline-block;
	height:1.2rem;
	vertical-align: middle;
	width: 100%;
}

.calendar-day table tbody tr td span i{
	display: inline-block;
	vertical-align: middle;
	width: 1.2rem;
	height: 1.2rem;
	line-height: 1.2rem;
	border-radius: 50%;
	font-style: normal;
	font-size: 0.426667rem;
}



.calendar-day table td.gray span{
	color: #ccc;
}
.calendar-day table td.optional span{
    color: #2A2A2F;
}
.calendar-day table tbody tr td.selected-start span{
	/*background-color: #F3F4F8;*/
	border-radius: 50% 0 0 50%;
}
.calendar-day table tbody tr td.selected-start span i{
	background-color: #2A2A2F;
	color:#fff;
}
.calendar-day table tbody tr td.selected-end span {
	/*background-color: #F3F4F8;*/
	border-radius: 0 50% 50% 0;
}
.calendar-day table tbody tr td.selected-end span i{
	background-color: #2A2A2F;
	color:#fff;
}
.calendar-day table tbody tr td.selected-line span{
	background-color: #F3F4F8;
}


.calendar-btn {
	position: fixed;
	bottom:0;
	left: 0;
	display: flex;
	width: 100%;
	z-index: 99;
}
.calendar-btn a{
	display: inline-block;
	vertical-align: middle;
	-webkit-box-flex: 1;
	width: 50%;
	height: 1.333333rem;
	text-align: center;
	text-decoration: none;
	line-height: 1.333333rem;
	font-size: 0.373333rem;
}

.calendar-btn a.cancel {
	color: #2A2A2F;
	background: #fff;
	border-top:0.013333rem solid #D5DAE1;
}
.calendar-btn a.determine {
	color: #fff;
	background: #2A2A2F;
}









.datebox {
	position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    display: none;
    z-index: 999;
}
.datebox-opa {
	width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    background: rgba(0,0,0,0);
    transform: background 0.3s ease;
}
.datebox-opa.active {
	background: rgba(0,0,0,0.5);
    transform: background 0.3s ease;
}
.datebox-content {
	background-color: #fff;
    width: 100%;
    position: absolute;
    left: 0;
    bottom: 0;
    transform: translateY(100%); 
    transition: transform 0.3s ease;
    z-index: 10;
}
.datebox-content.active {
	transform: translateY(0);
	transition: transform 0.3s ease;
}
.datebox-title {
	width: 100%;
	display: -webkit-box;
    display: flex;
    padding:0.213333rem 0.426667rem;
    background: #F3F4F8;
}
.datebox-title .before ,.datebox-title .after{
	width: 1.2rem;
	height: 1.2rem;
	text-align: center;
	line-height: 1.2rem;
	font-size: 0.64rem;
	color: #2A2A2F;
	background: url(../images/date-tab.png) center center no-repeat;
	background-size: 0.64rem 0.64rem;
}
.datebox-title .before{
	transform: rotateY(180deg);
	-webkit-transform: rotateY(180deg);
}
.datebox-title .year-month {
	-webkit-box-flex: 1;
    flex: 1;
    line-height: 1.2rem;
    text-align: center;
    font-size: 0.56rem;
    color: #2A2A2F;
}
.datebox-week {
	width: 100%;
	padding:0 0.426667rem;
	background-color: #F3F4F8;
	margin-bottom: 0.213333rem;
}
.datebox-week ul {
	display: -webkit-box;
    display: flex;
}
.datebox-week ul li {
	-webkit-box-flex: 1;
    flex: 1;
    padding: 0.32rem 0;
    text-align: center;
    font-size: 0.373333rem;
    color: #7E808A;
    line-height: 1;
    -webkit-box-flex: 1;
}
.datebox-content .table {
	width: 100%;
}
.datebox-content .table thead {
	background: #F3F4F8;
}
.datebox-content .table th {
	text-align: center;
}
/*.datebox-content .table tr:last-child td {
	padding-bottom: 0;
}*/
.datebox-content .table td {
	padding-bottom: 0.266667rem;
    text-align: center;
    color: #2A2A2F;
}
.datebox-content .table td i {
	display: inline-block;
    vertical-align: middle;
    width: 1.2rem;
    height: 1.2rem;
    line-height: 1.2rem;
    border-radius: 50%;
    font-style: normal;
    font-size: 0.426667rem;
}

.datebox-content .table td.gray i{
	color: #ccc;
}
.datebox-content .table td.selected  i{
	background-color: #2A2A2F;
	color:#fff;
}











