.head-title {
    text-align: center;
    padding: 0.4rem 0;
    position: relative;
}
.position{
	height: 1.333333rem;
}
.head-title-bb{
	border-bottom: 0.013333rem solid #7E808A;
}
.head-title h4 {
    padding-left: 0.613333rem;
    display: inline-block;
    font-size: 0.533333rem;
    color: #000;
    letter-spacing: 0.8px;
}
.head-title h4.resident {
    background: url(../images/resident-title.png) left center no-repeat;
    -webkit-background-size: 0.56rem 0.56rem;
    background-size: 0.56rem 0.56rem;
}
.head-title h4.travels-title {
    background: url(../images/product3.png) left center no-repeat;
    -webkit-background-size: 0.56rem 0.56rem;
    background-size: 0.56rem 0.56rem;
}
.head-title h4.rule {
    background: url(../images/conference-form.png) left center no-repeat;
    -webkit-background-size: 0.56rem 0.56rem;
    background-size: 0.56rem 0.56rem;
}
.head-title h4.member-title {
    background: url(../images/member-title.png) left center no-repeat;
    -webkit-background-size: 0.56rem 0.56rem;
    background-size: 0.56rem 0.56rem;
}
.head-title h4.audio-title {
	background: url(../images/audio-title.png) left center no-repeat;
    -webkit-background-size: 0.56rem 0.56rem;
    background-size: 0.56rem 0.56rem;
}
.head-title h4.none {
	padding-left: 0;
}
.head-title h4.serviceHelp-title {
    background: url(../images/serviceHelp.png) left center no-repeat;
    -webkit-background-size: 0.56rem 0.56rem;
    background-size: 0.56rem 0.56rem;
}
.head-title p {
    font-size: 0.266667rem;
    color: #7E808A;
    padding-top: 0.08rem;
}

.resident-content {
	width: 100%;
	padding-top: 0.426667rem;
}
.rc-img {
	width: 100%;
}
.rc-img img {
	width: 100%;
}

.resident-text {
	width: 100%;
	font-size: 0.373333rem;
	color: #2A2A2F;
	padding-bottom: 0.64rem;
}
.resident-text p {
	line-height: 1.7;
}
.resident-text .choice-title {
	margin-bottom:0.16rem;
	margin-top: 0.32rem;
}


.submit-btn {
	width: 100%;
	height: 1.333333rem;
	position: fixed;
	left: 0;
	bottom: 0;
	display: -webkit-box;
    display: flex;
}
.submit-btn a{
	-webkit-box-flex: 1;
    flex: 1;
    display: block;
    height: 100%;
    text-align: center;
    line-height: 1.333333rem;
}
.submit-btn a.cancel{
	background: #FCFDFF;
	font-size: 0.373333rem;
	color: #2A2A2F;
}
.submit-btn a.sure{
	background: #2A2A2F;
	font-size: 0.373333rem;
	color: #fff;
}
.submit-btn2 {
	width: 100%;
	height: 1.066667rem;
	display: -webkit-box;
    display: flex;
    margin-bottom: 0.613333rem;
}
.submit-btn2 a{
	-webkit-box-flex: 1;
    flex: 1;
    display: block;
    height: 100%;
    text-align: center;
    line-height: 1.066667rem;
}
.submit-btn2 a.cancel{
	border: 0.013333rem solid #2A2A2F;
	font-size: 0.373333rem;
	color: #2A2A2F;
	margin-right: 0.426667rem;
}
.submit-btn2 a.sure{
	background: #2A2A2F;
	font-size: 0.373333rem;
	color: #fff;
}
.resident-form {
	padding-top:0.213333rem;
}
.form-item {
	width: 100%;
	margin-bottom: 0.213333rem;
}
.form-item p {
    font-size: 0.373333rem;
    color: #2A2A2F;
    padding: 0.213333rem 0;
}
.form-item input {
    width: 100%;
    padding: 0.346667rem 0 0.346667rem 0.213333rem;
    line-height: 1;
    background: #F3F4F8;
    border: 0.013333rem solid #D5DAE1;
    font-size: 0.373333rem;
}
.form-item label {
    display: block;
    padding-top: 0.213333rem;
    color: #FF1431;
    font-size: 0.32rem;
}
.form-item-photo div {
	position: relative;
	width: 100%;
	height: 1.146667rem;
	background: #2A2A2F;
	line-height: 1.146667rem;
	text-align: center;
	font-size: 0.373333rem;
	color: #FFFFFF;
}
.form-item-photo input[type=file]{
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	border: none;
	outline: none;
	opacity: 0;
}
.form-item textarea {
	width: 100%;
	height: 5.733333rem;
	resize: none;
	outline: none;
	background: #F3F4F8;
	border: 0.013333rem solid #D4DAE1;
	padding: 0.266667rem 0.213333rem;
	line-height: 1.3;
}
.resident-form p.prompt-text{
	font-size: 0.32rem;
	color: #7E808A;
	margin-bottom: 0.64rem;
	padding-top: 0.213333rem;
}
.rule-content {
	width: 100%;
	padding-bottom: 0.64rem;
}
.rule-title {
	font-size: 0.373333rem;
	color: #7E808A;
	padding-top:0.426667rem;
	padding-bottom: 0.106667rem;
}
.rule-mode {
	width: 100%;
}
.rule-mode-item{
	width: 100%;
}
.rule-mode-item h4{
	font-size: 0.373333rem;
	color: #2A2A2F;
	padding: 0.32rem 0;
}
.rule-mode-item .rmi-content {
	border: 0.013333rem solid #7E808A;
}
.rule-mode-item .rmi-content .rmi-text{
	display: -webkit-box;
    display: flex;
}
.rmi-text-l {
	width: 2.0rem;
	background: #7E808A;
	font-size: 0.32rem;
	color: #FFFFFF;
	padding:0.266667rem 0.213333rem;
}
.rmi-text-l.border{
	border-bottom: 0.013333rem solid #7E808A;
}
.rmi-text-r {
	-webkit-box-flex: 1;
    flex: 1;
    padding: 0.213333rem 0.426667rem;
    font-size: 0.373333rem;
	color: #2A2A2F;
	background: #F3F4F8;
}
.rmi-text-r.border{
	border-bottom: 0.013333rem solid #7E808A;
}
.rmi-text-r p {
	line-height: 1.6;
}
.back-btn {
	width: 100%;
	position: fixed;
	left: 0;
	bottom: 0;
	background-color: #fff;
	height: 1.333333rem;
}
.back-btn a {
	display: block;
	width: 100%;
	height: 100%;
	background: url(../images/close.jpg) center center no-repeat;
	background-size: 0.48rem 0.48rem;
}
.member {
	width: 100%;
	padding-bottom: 0.64rem;
}
.member h4 {
	font-size: 0.373333rem;
	color: #7E808A;
	padding-top: 0.426667rem;
	padding-bottom: 0.32rem;
}
.integral-num {
	width: 100%;
	display: -webkit-box;
    display: flex;
}
.integral-num b{
	-webkit-box-flex: 1;
    flex: 1;
    font-size: 0.64rem;
	color: #2A2A2F;
	font-weight: normal;
	line-height: 1;
}
.integral-num a {
	display: block;
	text-align: center;
	width: 1.866667rem;
	height: 0.693333rem;
	line-height: 0.693333rem;
	font-size: 0.266667rem;
	color: #7E808A;
	border: 0.013333rem solid #7E808A;
}
.integral-stage {
	width: 100%;
	padding-top: 0.426667rem;
	border-bottom: 0.013333rem solid #7E808A;
}
.integral-stage ul, .integral-stage ol {
	width: 100%;
	display: -webkit-box;
    display: flex;
}
.integral-stage ul li {
	width: 2.133333rem;
	font-size: 0.373333rem;
	color: #7E808A;
}
.integral-stage ul li.active{
	color: #2A2A2F;
}
.integral-stage ul li.active i{
	background: #2A2A2F;
}
.integral-stage ul li i{
	display: inline-block;
	font-style: normal;
	width: 0.213333rem;
	height: 0.213333rem;
	border: 0.026667rem solid #2A2A2F;
	border-radius: 50%;
	margin-right: 0.213333rem;
}
.integral-stage .stage-line {
	width: 100%;
	background: #D4DAE1;
	border-radius: 2.666667rem;
	height: 0.053333rem;
	margin: 0.213333rem 0;
}
.integral-stage .stage-line div {
	height: 0.053333rem;
	background: #2A2A2F;
	border-radius: 2.666667rem;
}
.integral-stage ol li {
	width: 2.133333rem;
	font-size: 0.373333rem;
	color: #7E808A;
}
.integral-stage ol li.active {
	color: #2A2A2F;
}
.integral-stage p {
	font-size: 0.32rem;
	color: #7E808A;
	padding-top: 0.32rem;
	padding-bottom: 0.426667rem;
	line-height: 1.5;
}
.member-dis {
	width: 100%;
}
.member-dis-item {
	width: 100%;
	display: -webkit-box;
    display: flex;
    border-bottom: 0.013333rem solid #D4DAE1;
    padding: 0.32rem 0;
}
.member-dis-item:first-child{
	padding-top: 0;
}
.member-dis-item .mdi-l {
	width: 0.8rem;
	margin-right: 0.64rem;
}
.member-dis-item .mdi-r{
	-webkit-box-flex: 1;
    flex: 1;
}
.member-dis-item .mdi-r h6{
	font-weight: normal;
	font-size: 0.373333rem;
	color: #2A2A2F;
	margin-bottom: 0.213333rem;
}
.member-dis-item .mdi-r p{
	font-size: 0.32rem;
	color: #7E808A;
	line-height: 1.7;
}
.member-dis-item .mdi-l.mdi-bg1 {
	background: url(../images/mdi1.png) 0 0.106667rem no-repeat;
	background-size: 0.8rem 0.8rem; 
}
.member-dis-item .mdi-l.mdi-bg2 {
	background: url(../images/mdi2.png) 0 0.106667rem no-repeat;
	background-size: 0.8rem 0.8rem; 
}
.member-dis-item .mdi-l.mdi-bg3 {
	background: url(../images/mdi3.png) 0 0.106667rem no-repeat;
	background-size: 0.8rem 0.8rem; 
}
.member-dis-item .mdi-l.mdi-bg4 {
	background: url(../images/mdi4.png) 0 0.106667rem no-repeat;
	background-size: 0.8rem 0.8rem; 
}
.member-grade p{
	font-size: 0.373333rem;
	color: #2A2A2F;
	line-height: 1.7;
}
.travels-content {
	padding-top: 1.333333rem;
}
.travels {
	width: 100%;
	padding-top: 0.426667rem;
	padding-bottom: 0.426667rem;
}
.travels h2 {
	font-size: 0.586667rem;
	color: #2A2A2F;
	line-height: 1.4;
}
.travels-info {
	display: -webkit-box;
    display: flex;
    line-height: 0.533333rem;
    padding: 0.32rem 0;
    border-bottom: 0.013333rem solid #D4DAE1;
}
.travels-info div {
	-webkit-box-flex: 1;
    flex: 1;
}
.travels-info div img {
	width: 0.533333rem;
	height: 0.533333rem;
	vertical-align: top;
}
.travels-info div b {
	font-size: 0.32rem;
	color: #7E808A;
	font-weight: normal;
}
.travels-info p {
	-webkit-box-flex: 1;
    flex: 1;
    text-align: right;
    font-size: 0.32rem;
	color: #7E808A;
}
.travels-imgText {
	width: 100%;
	font-size: 0.373333rem;
	color: #2A2A2F;
	line-height: 1.7;
}
.travels-imgText img {
	width: 100%;
	margin: 0.213333rem 0;
}
.travels-imgText p.indent {
	text-indent: 1em;
}
.serviceHelp {
	width: 100%;
}
.serviceHelp-options {
	width: 100%;
	text-align: center;
	padding: 0.32rem 0;
	border-bottom: 0.013333rem solid #7E808A;
}
.serviceHelp-options a{
	display: inline-block;
	padding: 0.16rem 0.266667rem;
	background: #F3F4F8;
	border-radius: 2.666667rem;
	line-height: 1;
	font-size: 0.373333rem;
	color: #2A2A2F;
	background: #F3F4F8;
	border-radius: 2.666667rem;
	margin: 0 0.32rem;
}
.serviceHelp-options a.active{
	color: #FFFFFF;
	background: #2A2A2F;
}
.serviceHelp .submit-btn2{
	margin-top: 0.64rem;
}
.questionnaire {
	width: 100%;
	padding-top: 0.426667rem;
}
.questionnaire h4 {
	font-size: 0.373333rem;
	color: #7E808A;
	line-height: 1.5;
	font-weight: normal;
	margin-bottom: 0.426667rem;
}
.questionnaire-item {
	width: 100%;
	margin-bottom: 0.64rem;
}
.questionnaire-item  div {
	margin-top: 0.426667rem;
}
.questionnaire-item  div input {
	outline: none;
	background: #F3F4F8;
	border: 0.013333rem solid #D4DAE1;
	width: 100%;
	height: 1.066667rem;
	font-size: 0.373333rem;
	color: #7E808A;
	padding-left: 0.213333rem;
}
.questionnaire-item h5 {
	font-size: 0.373333rem;
	color: #2A2A2F;
	font-weight: normal;
}
.questionnaire-item li {
	width: 100%;
	padding: 0.453333rem 0;
	border-bottom: 0.013333rem solid #E9EAF0;
	font-size: 0.373333rem;
	color: #7E808A;
	line-height: 0.48rem;
}
.questionnaire-item li.active i {
	background: #2A2A2F;
}
.questionnaire-item li i {
	background: none;
	display: inline-block;
	font-style: normal;
	width: 0.426667rem;
	height: 0.426667rem;
	border: 0.026667rem solid #2A2A2F;
	border-radius: 50%;
	margin-right: 0.32rem;
	vertical-align: middle;
	position: relative;
	top: -0.026667rem;
	text-align: center;
	line-height: 0.426667rem;
	color: #fff;
	font-size: 0.32rem;
}
.questionnaire-item li input {
	display: block;
	outline: none;
	background: #F3F4F8;
	border: 0.013333rem solid #D4DAE1;
	width: 100%;
	height: 1.066667rem;
	font-size: 0.373333rem;
	color: #7E808A;
	padding-left: 0.213333rem;
	margin-top: 0.426667rem;
}

.questionnaire-item.multiple  li:last-child{
	border-bottom:none;
}
.questionnaire .prompt-text {
	font-size: 0.373333rem;
	color: #7E808A;
	margin-top: 0.64rem;
}

.serviceHelp-tab {
	width: 100%;
	height: 1.173333rem;
	/*border-top: 0.013333rem solid #D4DAE1;
	border-bottom: 0.013333rem solid #7E808A;*/
}
.serviceHelp-tab .lineT {
	width: 100%;
	border-top: 0.013333rem solid #D4DAE1;
}
.serviceHelp-tab .lineB {
	width: 100%;
	border-top: 0.013333rem solid #7E808A;
}
.serviceHelp-tab .swiper-container {
	padding: 0 0.426667rem;
}
.serviceHelp-tab a{
	font-size: 0.373333rem;
	color: #7E808A;
}
.serviceHelp-tab .swiper-slide {
	height: 1.173333rem;
	line-height: 1.173333rem;
	width: 2.186667rem;
}
.serviceHelp-tab .swiper-slide.active a{
	color: #2A2A2F;
}
.sh-opinion-list {
	width: 100%;
	padding-bottom: 0.106667rem;
}
.sh-ol-item {
	width: 100%;
	padding-bottom: 0.426667rem;
	margin-bottom: 0.426667rem;
	border-bottom: 0.013333rem solid #D4DAE1;
	display: none;
}
.sh-ol-item.active{
	display: block;
}
.sh-ol-item section {
	width: 100;
	font-size: 0.373333rem;
}
.sh-ol-item section .ask {
	color: #2A2A2F;
	padding: 0.426667rem 0 0.32rem;
	font-weight: normal;
	line-height: 1.5;
}
.sh-ol-item section .answer {
	line-height: 1.5;
	color: #7E808A;
}
.sh-ol-item section .answer .indent {
	text-indent: 2em;
}

.audio {
	width: 100%;
	padding-top: 1.333333rem;
}
.ag-list {
	width: 100%;
}
.ag-list-options {
	width: 100%;
    text-align: center;
    padding: 0.32rem 0;
    border-bottom: 0.013333rem solid #7E808A;
}
.ag-list-options a {
    display: inline-block;
    padding: 0.16rem 0.266667rem;
    background: #F3F4F8;
    border-radius: 2.666667rem;
    line-height: 1;
    font-size: 0.373333rem;
    color: #2A2A2F;
    background: #F3F4F8;
    border-radius: 2.666667rem;
    margin: 0 0.32rem;
}
.ag-list-options a.active {
    color: #FFFFFF;
    background: #2A2A2F;
}
.ag-list-content {
	width: 100%;
}
.ag-list-item {
	width: 100%;
	padding-top: 0.533333rem;
	border-bottom: 0.013333rem solid #7E808A;
}
.agli-graphic {
	display: -webkit-box;
    display: flex;
}
.agl-item-img {
	width: 3.733333rem;
	height: 3.733333rem;
	margin-right: 0.426667rem;
}
.agl-item-img img{
	width: 100%;
	height: 100%;
}
.agl-item-info {
	-webkit-box-flex: 1;
    flex: 1;
}
.agl-item-info h4 {
	font-weight: normal;
	font-size: 0.426667rem;
	color: #2A2A2F;
	margin-bottom: 0.2rem;
}
.agl-item-info p {
	font-size: 0.373333rem;
	color: #000000;
	margin-bottom: 0.4rem;
}
.agl-item-info p b {
	font-size: 0.746667rem;
	font-family: myfont;
}
.agl-item-info div {

}
.agl-item-info div a {
	display: inline-block;
	font-size: 0.266667rem;
	color: #2A2A2F;
	background: #FFFFFF;
	border: 0.013333rem solid #2A2A2F;
	padding: 0.16rem 0.266667rem;
	line-height: 1;
}
.agli-describe {
	font-size: 0.373333rem;
	color: #7E808A;
	padding: 0.32rem 0;
}
.agli-describe.red{
	color: #FF1431;
}

.ag-nowMore {
	height: 1.28rem;
	width: 100%;
	font-size: 0.32rem;
	color: #7E808A;
	text-align: center;
	line-height: 1.28rem;
}
.ag-details {
	padding-top: 1.333333rem;
}
.agd-picture {
	width: 100%;
}
.agd-picture .swiper-slide a {
	width: 100%;
	display: inline-block;
	vertical-align: top;
}	
.agd-picture .swiper-slide a img {
    width: 100%;
    height: 5.333333rem;
    vertical-align: top;
}

.agd-picture .swiper-pagination {
    width: 1.226667rem;
    height: 0.666667rem;
    background: rgba(42,42,47,0.80);
    border-radius: 2.666667rem;
    font-size: 0.32rem;
    color: #fff;
    line-height: 0.666667rem;
    text-align: center;
    left: 50%;
    margin-left: -0.613333rem;
}
.ag-content {
	width:100%;

}
.ag-content-describe {
	width: 100%;
	padding-bottom: 0.32rem;
	border-bottom: 0.013333rem solid #D4DAE1;
	margin-bottom: 0.426667rem;
}
.ag-content-describe h2 {
	font-size: 0.586667rem;
	color: #2A2A2F;
	margin-bottom: 0.16rem;
	margin-top: 0.426667rem;
}
.ag-content-describe p {
	font-size: 0.373333rem;
	color: #7E808A;
}
.ag-content-audio {
	width: 100%;
}
.ag-content-audio h4 {
	font-size: 0.373333rem;
	color: #FF1431;
	margin-bottom: 0.213333rem;
}
.agc-audio  {
	width: 100%;
}
.agc-audio-show {
	display: -webkit-box;
    display: flex;
    border: 0.013333rem solid #D4DAE1;
    height: 1.066667rem;
}
.agc-audio-show div{
	-webkit-box-flex: 1;
    flex: 1;
    height: 100%;
    outline: none;
    line-height: 1.066667rem;
    border: none;
    background-color: #F3F4F8;
    padding-left: 0.213333rem;
    font-size: 0.373333rem;
	color: #2A2A2F;
}
.agc-audio-show a {
	display: block;
	width: 1.066667rem;
	height: 100%;
	background: #7e808a url(../images/play.png) center center no-repeat;
	background-size: 0.12rem 0.24rem;
	text-align: center;
}
.agc-audio-show a.already{
	background: #FF1431 url(../images/play.png) center center no-repeat;
	background-size: 0.12rem 0.24rem;
}
.agc-audio-list {
	width: 100%;
}
.agc-audio-list li {
	display: -webkit-box;
    display: flex;
    font-size: 0.373333rem;
	color: #2A2A2F;
	height: 1.466667rem;
	line-height: 1.466667rem;
	border-bottom: 0.013333rem solid #D4DAE1;
}
.agc-audio-list li h5{
	width: 2.933333rem;
	margin-right: 0.56rem;
}
.agc-audio-list li p {
	-webkit-box-flex: 1;
    flex: 1;
}
.agc-audio-list li div {
	width: 1.866667rem;
}
.agc-audio-list li div a {
	width: 100%;
	text-align: center;
	font-size: 0.266667rem;
	padding: 0.16rem 0;
	line-height: 1;
	display: block;
	margin-top: 0.426667rem;
}
.agc-audio-list li div a.purchase {
	color: #FFFFFF;
	background: #FF1431;
}
.agc-audio-list li div a.see {
	border: 0.013333rem solid #7E808A;
	color: #7E808A;
}
.agc-audio-list li div a.already {
	color: #FFFFFF;
	background: #7e808a;
}
.ag-remind {
	margin-top: 0.64rem;
	margin-bottom: 0.64rem;
}
.ag-remind h5{
	font-size: 0.373333rem;
	color: #7E808A;
	font-weight: normal;
	margin-bottom: 0.213333rem;
}
.ag-remind p.title{
	font-size: 0.373333rem;
	color: #2A2A2F;
	margin-bottom: 0.213333rem;
}

.ag-remind-time {
	width: 100%;
}
.ag-remind-time ol {
	border: 0.013333rem solid #D4DAE1;
}
.ag-remind-time li {
	display: -webkit-box;
    display: flex;
    border-bottom: 0.013333rem solid #D4DAE1;
}
.ag-remind-time li:last-child{
	border-bottom:none;
}
.ag-remind-time li div:first-child{
	width: 3.466667rem;
	padding: 0.266667rem 0.213333rem;
	background: #F3F4F8;
	border-right: 0.013333rem solid #D4DAE1;
}
.ag-remind-time li div:last-child{
	-webkit-box-flex: 1;
    flex: 1;
    padding: 0.16rem 0.533333rem;
}
.ag-remind-time li h6{
	font-size: 0.32rem;
	color: #7E808A;
	font-weight: normal;
	line-height: 1;
}
.ag-remind-time li p {
	font-size: 0.373333rem;
	color: #2A2A2F;
	line-height: 1.5;
}
